body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #d7f0e8;
}
nav{
  background-color: #090a0a;
  display: flex;
  padding: 1% 2% ;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  height: 43px;
}
element {
height: 74px;
position: relative;
left: -20px;
}
.logo{
  width: 100px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 1px 12px;
  position: relative;
  top:100%;
}
.nav-links ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
 
}
.contact-container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  border-radius: 17px;
}

.contact-container h2 {
  margin-bottom: 10px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 96%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #0056b3;
}
