*{
  margin: 0;
  padding: 0;
}
.header{
  min-height: 143vh;
  width:100%;
  background-image:url(home.jpg) ;
  background-position:center ;
  background-size: cover;
  position: relative;
}
.foreground-image {
position: absolute;
top: 38%;
left: 50%;
transform: translate(-50%, -50%);
width: 300px;
height: auto;
border: 2px solid white;
border-radius: 50px;
}
nav{
  background-color: #090a0a;
  display: flex;
  padding: 1% 2% ;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  height: 43px;
}
element {
height: 74px;
position: relative;
left: -20px;
}
.logo{
  width: 100px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 1px 12px;
  position: relative;
  top:100%;
}
.nav-links ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 17px;
 
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate( -50%,-50%);
  text-align: center;
}
.text-box h1{
color: rgb(255, 255, 255);
font-size: 99px;
font-weight: bold;
background: linear-gradient(to right, #820074, #fbfbfb);
  background-clip: border-box;
background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
}
.foreground-image{
  position: absolute;
top: 25%;
left: 50%;
transform: translate(-50%, -50%);
width: 300px;
height: auto;
border: 2px solid white;
border-radius: 50px;
}
.hero-btn{
  display:inline-block;
  text-decoration: none;
  color: #e6e6e6;
  border: 1px solid rgb(18, 13, 13);
  padding: 8px 3px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.text-box p{
  padding-bottom: 30px;
  font-size: 25px;
}
.hero-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
}
.hero-btn:hover{
border: 1px solid #0f0e0e;
background: #ff7800;
transition: 0.03s;
opacity: 0.89;
}
.blog{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
  padding-bottom:60px ;
  padding-right: 30PX;
  background-color: #d7f0e8;
}
.backgr h1{
  position: relative;
  top: -2px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.backgr p{
  color: #0f0e0e;
  font-size: 14px;
  font-weight:300 ;
  line-height: 22px;
  padding: 0;
  text-decoration: none;
  text-align: center;
}
.sudar{
  margin-top: -5%;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -23px;
  padding: 49px;
  bottom: -82px;
}
.blog h1{
  font-size: 54px;
}
.blog-col a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
}
.blog-col{
  flex-basis: 31%;
  background: #ebe6dc;
  border-radius:36px;
  margin-bottom: 5%;
  margin-left: 3%;
  box-shadow: #6e0e0e;
  transition: transform 0.2s ease, box-shadow 0.3s ease;

}
.blog-col:hover {
  transform: scale(1.05); 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
}
.blog-col img{
  width: 315px;
  height: 190px;
  padding: 0;
  border-radius: 27px;
}

.whloe{
  background-color: #d4f5eb;
}
/*----vlogger----*/
.Bloger .backgr{
  background-color: #d4f5eb;
}
.Bloger .row {
  display: flex;
  justify-content: center;
  gap: 54px;
  padding: 129px;
}

.bom-col {
  position: relative;
  width: 300px;
  height: 400px;
}
.bom-col img .lolo{
  width: 100px;
}
.bom-col img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 12px;
}

.bom-col:hover .layer {
  opacity: 1;
}


/*----testimonial----*/
.testimonials {
  background: #d4f5eb;
  padding: 50px 20px;
  text-align: center;
}
.testimonials h1{
  font-size: 52px;
}
.testimonial-col {
  display: inline-block;
  margin: 20px;
  width: 456px;
  text-align: left;
  background-color: #ecd2ae;
  border-radius: 10px;
  background: linear-gradient(to right,#e18e52,#f9f9f9);
}

.testimonial-col img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
  height: 96px;
  padding: 0px;

}

.testimonial-col h3 {
  margin-top:0px;
}

.testimonial-col i {
  color: #ffd700;
}
.footer {
  background: #333;
  color: white;
  padding: 30px;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

